@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	max-width: 1440px;
	margin: auto;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	display: inline;
	background: none;
	border: none;
	width: max-content;
}

button:hover {
	cursor: pointer;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media all and (max-width: 1100px) {
	/* main {
		display: none;
	}

	#root {
		min-height: 100vh;
	}

	#root::after {
		display: flex;
		justify-self: center;
		align-items: center;
		content: 'Kindly view on a larger screen';
		height: 100%;
		position: absolute;
		left: 40%;
	} */
}
